*.bak
*.log
*.pid
*.py[cod]
*.seed
*.sw[po]

.*~
.coverage*
.DS_Store
.grunt
.hot
.idea
.lock-wscript
.cache
.vscode

coverage.xml
coverage
coverage-reports
pylint.out

venv
tmpdir
permdir
permdir_test
node_modules
active_stubs
test-reports

dev.yaml
test.yaml
local_config.py

*.sh
lib/
es/
.npm-cache
dist/
packages/*/dist/
